@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
  background: #f1f1f1;
}

li, a, button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 12px;
  height: 56px;
  background-color: #31425f;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 24px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  vertical-align: 1px;
}

.nav__links li a:hover {
  color: #e66739;
}

.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #e66739;
}

.navbar-link {
  height: 124px;
}

.title-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 70px;
  color:#31425f
}

.title {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 30px;
}

.subtitle {
  color:black;
  margin: auto;
  width: 50%;
  text-align: left;
  padding: 30px;
}

.main-subtitle-text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color:#000000;
}

.subtitle-text {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}

.list-padding {
  padding: 0px 80px;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}


/* THIS IS THE BEGINNING OF CUSTOM CSS */

/*
html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #f1f1f1;
}

.container-bounded {
  max-width: 800px;
  position: relative;
}

#header-nav {
  border-radius: 0;
  border: none;
  border-bottom: solid #dddddd 1px;
  text-shadow: none;
  background-color: #31425f;
}

#logo {
  position: absolute;
  max-height: 40%;
}

.brand-name {
  position: absolute;
  left: 50px;
  color: #fafafa;
}

h1 {
  color: #31425f;
}

#notice {
  color: #ff0000;
}

textarea {
  width: 100%;
  max-width: 100%;
}

button {
  float: left;
  background-color: #31425f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

button:not(:first-of-type) {
  margin-left: 10px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #f46336;
}

#gpa-container {
  height: 70px;
}

#gpa {
  display: none;
  margin: 0px;
}

#help {
  display: none;
}

.bold {
  font-weight: bold;
}

div.button-container {
  padding-bottom: 20px;
}
*/